* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.index-page, .about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.index-page {
    background-color: #f5f5f5;
}

.about-page {
    background-color: #f76b6b;
}