@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #1e3888;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #d1e2e6;
  border-radius: 3px;
  margin-top: 20px;
  box-shadow: black 0px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container h1 {
  text-align: center;
  color: #f5e663;
  margin-bottom: 20px;
}

.alert-banner {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -200%);
  text-align: center;
  padding: 20px;
  color: white;
  width: 80%;
  z-index: 9999;
  background-color: red;
  border-radius: 3px;
  transition: transform 0.9s cubic-bezier(0, 0, 0.3, 1.39);
}

.alert-banner.alerted {
  transform: translate(-50%, 500%);
}

.add-todo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.todo-submit {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #f5e663;
  color: #eff0f3;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.todo-item,
.todo-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #cecece;
  margin-bottom: 5px;
}
.todo-input {
  border: none;
}

.todo-item-delete {
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 2rem;
  color: red;
}
